.dashboard {
  background-image: url("../assets/nubelson-fernandes-Y376h7VN27c-unsplash.jpg");
  height: 120vh;
  background-size: cover;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
.dashboard {
  justify-self: start;
}
.navbar {
  background-color: rgb(192, 192, 192);
}
.container {
  display: flex;
  justify-content: center;
  color: red;
}
