.product-page {
  background-color: #f8f8f8;
  height: 93.5vh;
  width: 100%;
  margin-top: 60px;
  color: #0f0f0f;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product-dash {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.product-img-area {
  /* width: 40vw; */
  margin-right: 2rem;
  width: 30vw;
}
.product-img {
  height: 20vmax;
  object-fit: contain;
  width: 30vw;
  justify-content: end;
}

.product-text {
  height: 20vmax;
  margin-left: 2rem;
  width: 30vw;
  font-weight: 400;
}

.product-text > h1 {
  text-transform: uppercase;
  font-size: xx-large;
  margin-bottom: 1rem;
  font-weight: 600;
}

.product-text > h2 {
  text-transform: capitalize;
  font-size: x-large;
  margin-bottom: 1rem;
}

.product-text > p {
  font-size: small;
  margin-bottom: 1rem;
}

.product-price {
  font-size: xx-large;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  /* text-align: center; */
  margin-bottom: 2rem;
}
.product-price > p {
  font-size: medium;
  margin-right: 2rem;
  vertical-align: middle;
}
.product-price > h2 {
  font-size: 36px;
  font-weight: 600;
  vertical-align: middle;
}

.product-buttons {
  margin-top: 2rem;
}
.add-to-cart {
  height: 5vh;
  width: 7vw;
  background-color: #0f0f0f;
  color: #f8f8f8;
  border-style: none;
}
