.registerForm {
  background-image: url("../assets/nubelson-fernandes-Y376h7VN27c-unsplash.jpg");
  height: 100vh;
  background-size: cover;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.registerForm {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
