.everything1 {
  background-color: #212529de;
  min-height: 100vh;
  color: #f8f8f8;
}
.shop {
  min-height: 90vh;
  padding-top: 7vh;
  display: flex;
  flex-direction: column;
  justify-self: center;
}
.products {
  padding: 1rem;
  margin: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 2rem;
}
/* {
  overflow: hidden;
    text-overflow: ellipsis;
    height: 57px;
    white-space: initial;
    word-break: break-word;
    color: inherit;
} */
